/*.header {*/
/*  min-height: 60px;*/
/*  background-color: #7a12d9;*/
/*}*/

/*.header img {*/
/*  width: 30px;*/
/*}*/

/*.loginBlock {*/
/*  float: right;*/
/*}*/

/*.loginBlock a {*/
/*  color: white;*/
/*}*/

.header {
  display: flex;
}

.headerContainer {
  display: flex;
  justify-content: end;
  align-items: center;
  width: 80%;
  margin: 0 auto;
}

.loginBlock {
  display: flex;
  gap: 10px;
}

.logoutBlock {
}
