.nav {
    grid-area: n;
    background-color: #885eaf;
    text-align: center;
}

.item {
    color: black;
    background-color: #BDF903;
    margin: 30px;
    padding: 6px 10px;
}

.item.active {
    color: white;
    background-color: #FFC903;
}