.profileInfo {
  display: flex;
}

/*.avatarBlock {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    gap: 10px;*/
/*    align-items: end;*/
/*}*/

/*.mainPhoto {*/
/*    object-fit: cover;*/
/*    width: 100%;*/
/*    min-width: 100px;*/
/*    max-width: 300px;*/
/*}*/

/*.previewImage img {*/
/*    width: 500px;*/
/*    margin: -250px auto;*/
/*}*/

/*.fileInput {*/
/*    display: none;*/
/*}*/

/*.customFileUpload {*/
/*    width: 30px;*/
/*    height: 30px;*/
/*    border: 1px solid #ccc;*/
/*    padding: 6px 12px;*/
/*    cursor: pointer;*/
/*    background-color: #f2f2f2;*/
/*    border-radius: 4px;*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    position: absolute;*/
/*    opacity: 40%;*/
/*}*/

/*.customFileUpload:hover {*/
/*    background-color: #e2e2e2;*/
/*    opacity: 1;*/
/*}*/

.descriptionBlock {
  padding: 0 10px;
  /*display: flex;*/
  /*gap: 20px;*/
}

.profileStatus {
  padding: 10px;
  background: rgb(255, 255, 255);
  margin-bottom: 10px;
  border-radius: 5px;
}

.profileData {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  padding: 10px;
  background: rgb(255, 255, 255);
  border-radius: 5px;
}

.profileDataContent span {
  display: inline-block;
  width: 200px;
}

.editButton {
}
